<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-select
      class="ion-padding"
      placeholder="Select category"
      interface="popover"
      (ionChange)="onCategoryChange($event)"
    >
      <ion-select-option

        *ngFor="let category of categories$ | async"
        [value]="category.name"
        >{{ category.name }}</ion-select-option
      >
    </ion-select>

    <ion-searchbar
      (ionChange)="onSearchChange($event)"
    ></ion-searchbar>

    <ion-checkbox
      class="ion-margin ion-padding"
      (ionChange)="onAvailabilityChange($event)"
    >
      Product is available
    </ion-checkbox>

    <ion-list class="ion-padding">
      <app-product
        *ngFor="let product of products$ | async"
        [product]="product"
      ></app-product>
    </ion-list>
  </div>
</ion-content>
